@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap");

:root {
  --primary--color: #49a0ad;
  --background-color: #f5f5f5;
  --border-color: #6cc5ab;
  --btn-color: #b399d4;
  --yellowBtn-color: #ffb347;
  --placeholder-color: #959a90;
  --border-radius: 5px;
  --poppins-font: "Poppins", sans-serif;
}

body {
  font-family: var(--poppins-font);
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--primary--color);
  pointer-events: none;
}

input[type="date"] {
  color: var(--placeholder-color);
}

h3,h4,h5,h6 {
  margin: 0;
}

p {
  font-size: 12px;
  margin: 0;
}

.ZIndex {
  z-index: 1000;
}

.Hidden {
  display: none !important;
}

.Draggable {
  -webkit-app-region: drag;
}

.NoDraggable {
  -webkit-app-region: no-drag;
}

.BackgroundBlue {
  background-color: var(--primary--color);
  border-radius: 8px;
  height: 100vh;
}

.BackgroundWhite {
  background-color: var(--background-color);
  height: 100vh;
}

.BackgroundTransparent {
  background-color: transparent;
}

.BorderNone {
  border: none;
}

.Border {
  border-radius: var(--border-radius);
  border: 4px solid var(--border-color);
}

.UserSelectNone {
  user-select: none;
}

.ScrollBar {
  overflow: auto;
}

.gap-4 {
  gap: 4px;
}

.gap-8{
  gap: 8px;
}

.gap-16{
  gap: 16px;
}

.gap-24{
  gap: 24px;
}

.p-4{
  padding: 4px;
}

.p-8{
  padding: 8px;
}

.p-16{
  padding: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: #caa7f8;
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 10px;
  scrollbar-width: thin;
}

::-webkit-scrollbar-button {
  display: none;
}

