@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap");

:root {
  --primary--color: #49a0ad;
  --background-color: #f5f5f5;
  --border-color: #6cc5ab;
  --btn-color: #b399d4;
  --yellowBtn-color: #ffb347;
  --placeholder-color: #959a90;
  --border-radius: 5px;
  --fira-font: "Fira Sans", sans-serif;
  --poppins-font: "Poppins", sans-serif;
}

.WindowBtns {
  background: none;
  border: none;
  padding: 0 15px;
  height: 30px;
  cursor: pointer;
  font-family: var(--poppins-font);
  font-size: 14px;
}

.WindowBtns:hover {
  background: rgba(150, 241, 255, 0.2);
}

.WindowBtnClose:hover {
  background: var(--yellowBtn-color) !important;
  color: black;
}

.InputLogin{
  width: 100%;
  height: 25px;
  border-radius: var(--border-radius);
  border: 3px solid var(--btn-color);
}

.InputLogin:focus{
  border: 3px solid var(--yellowBtn-color);
  outline: none;
}

.VerSenha{
  margin-left:10px;
  width:40px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.Pisca{
  animation: piscarOlho 0.3s ease;
}

@keyframes piscarOlho {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.LinkLogin{
  color: #B399D4;
  cursor: pointer;
  user-select: none;
}

.LinkLogin:hover{
  text-decoration: underline;
}

.BTNPurple{
  height: 40px;
  width: 200px;
  color: var(--background-color) !important;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--btn-color);
  font-family: var(--poppins-font);
  font-weight: bold;
  transition: transform 0.1s ease;
  user-select: none;
}

.BTNPurple:hover{
  background-color: #9273B9 !important;
  cursor: pointer !important;
  transition: transform 0.1s ease !important;
}

.BTNPurple:active{
  transform: scale(0.9)
}

.BTNLogout{
  width: 110px;
  height: 30px;
  border-radius: var(--border-radius);
  border: solid 2px var(--border-color);
  background-color: #f3ce9a;
  margin: 6px 10px 0 0;
  font-family: var(--poppins-font);
  transition: transform 0.1s ease;
  z-index: 1;
}
.BTNLogout:hover{
  background-color: #FFB347;
  cursor: pointer;
}
.BTNLogout:active{
  background-color: #f3ce9a;
  transform: scale(0.9)
}

.BTNCircle{
  margin-bottom: 15px;
  width: 50px;
  height: 50px;
  background-color: var(--primary--color);
  border-radius: 100%;
  border:3px solid var(--border-color);
  box-shadow: 0px 5px 5px var(--placeholder-color);
}

.BTNCircle:hover{
  cursor: pointer;
  transform: scale(1.06);
  transition: transform 0.1s ease;
}

.BTNExitIFrame{
  height: 30px;
  width: 30px;
  border-radius: 10px;
  margin: 0 5px;
  background-color: #f3ce9a;
  border: 3px solid black;
  transition: transform 0.1s ease;
  font-size: larger;
  cursor: pointer;
  font-size: 12px;
}

.BTNExitIFrame:hover{
  transform: scale(1.06);
  background-color: #FFB347;
}

.BTNExitIFrame:active{
  transform: scale(1.0);
  background-color: #f3ce9a;

}

.Switch{
  width: 100px;
  height: 100%;
  background-color: #f3ce9a;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  border: 3px solid var(--yellowBtn-color);
}

.exitProntuario{
  border: 1px solid black;
  border-radius: 100%;
  font-weight: bold;
  padding: 5px 8px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.exitProntuario:hover{
  background-color: #FFB347;
}
